
Notebooks/Exercise 0/data/fifa_players.csv
Notebooks/Exercise 0/README.md
Notebooks/Exercise 1/notebooks/Exercise 0.json
Notebooks/Exercise 1/README.md
Notebooks/Exercise 2/data/amazon.csv
Notebooks/Exercise 2/README.md
Notebooks/Exercise 3/data/fifa_players.csv
Notebooks/Exercise 3/notebooks/Fifa Analysis.json
Notebooks/Exercise 3/README.md
Notebooks/Exercise 4/data/amazon.csv
Notebooks/images/zeppelin_0.png
Notebooks/images/zeppelin_1.png
Notebooks/images/zeppelin_10.png
Notebooks/images/zeppelin_11.png
Notebooks/images/zeppelin_2.png
Notebooks/images/zeppelin_3.png
Notebooks/images/zeppelin_4.png
Notebooks/images/zeppelin_5.png
Notebooks/images/zeppelin_6.png
Notebooks/images/zeppelin_7.png
Notebooks/images/zeppelin_8.png
Notebooks/images/zeppelin_9.png
Notebooks/MyFirstNotebook.ipynb
Notebooks/README.md
Notebooks/Exercise 0/data/fifa_players.csv
Notebooks/Exercise 0/README.md
Notebooks/Exercise 1/notebooks/Exercise 0.json
Notebooks/Exercise 1/README.md
Notebooks/Exercise 2/data/amazon.csv
Notebooks/Exercise 2/README.md
Notebooks/Exercise 3/data/fifa_players.csv
Notebooks/Exercise 3/notebooks/Fifa Analysis.json
Notebooks/Exercise 3/README.md
Notebooks/Exercise 4/data/amazon.csv
Notebooks/images/zeppelin_0.png
Notebooks/images/zeppelin_1.png
Notebooks/images/zeppelin_10.png
Notebooks/images/zeppelin_11.png
Notebooks/images/zeppelin_2.png
Notebooks/images/zeppelin_3.png
Notebooks/images/zeppelin_4.png
Notebooks/images/zeppelin_5.png
Notebooks/images/zeppelin_6.png
Notebooks/images/zeppelin_7.png
Notebooks/images/zeppelin_8.png
Notebooks/images/zeppelin_9.png
Notebooks/MyFirstNotebook.ipynb
Notebooks/README.md
